<section class="trips-show">

    <div class="container card">
        <h1 class="card-title"><%=@trip.destination%> Trip</h1>
        <div class="flex my1">
            <strong>Source:</strong>
            <%=@trip.source%>
        </div>

        <div class="flex my1">
            <strong>Destination:</strong>
            <%=@trip.destination%>
        </div>
        
        <div class="flex my1">
            <strong>Starting Time:</strong>
            <%# <%=@trip.starting_time[4] + "   :   " + @trip.starting_time[10, 11]%> %>
            <%=debug(params)%> 
        </div>

        <div class="flex my1">
            <strong>Ending time:</strong>
            <%# <%=@trip.ending_time[4] + "   :   " + @trip.ending_time[5]%> %>
        </div>

          <div class="flex my1">
            <strong>Available Places:</strong>
            <%=@trip.available_places%>
        </div>

    </div>

</section>
