<section class="student-show container flex center">
    <div class="card">
        <h1 class="card-title"><%=@student.name.partition(" ").first%></h1>

        <div class="flex my1">
            <strong>ID:</strong>
            <%=@student.id%>
        </div>

        <div class="flex my1">
            <strong>name:</strong>
            <%=@student.name%>
        </div>

        <div class="flex my1">
            <strong>Department:</strong>
            <%=@student.department%>
        </div>

        <div class="div my2">
            <%=link_to "Book Trip", "/#{@student.id}/trips", class: "btn"%>
        </div>
    </div>

    <%if !@student.trips.empty?%>
        <div class="card">
            <h1 class="card-title">Trips</h1>
        
            <ul>
                <%@student.trips.each do |trip|%>
                    <li class="flex">Trip To <%=trip.destination%> <%=link_to "delete", "#{@student.id}/trips/#{trip.id}", method: :delete, class: "links"%></li>
                <%end%>
            </ul>
        </div>
    <%end%>
</section>
