<section class="student-show my-1 container d-flex flex-column align-items-center">
    <div class="row my-1 p-3 card">
        <h1 class="card-title"><%=@student.name.partition(" ").first%></h1>

        <div class="d-flex justify-content-between my-1">
            <strong>ID:</strong>
            <%=@student.id%>
        </div>

        <div class="d-flex justify-content-between my-1">
            <strong>name:</strong>
            <%=@student.name%>
        </div>

        <div class="d-flex justify-content-between my-1">
            <strong>Department:</strong>
            <%=@student.department%>
        </div>

        <div class="div my2">
            <%=link_to "Book Trip", "/#{@student.id}/trips", class: "btn btn-warning my-1"%>
        </div>
    </div>

    <%if !@student.trips.empty?%>
        <div class="row my-1 p-3 card">
            <h1 class="card-title">Trips</h1>
        
            <ul>
                <%@student.trips.each do |trip|%>
                    <li class="text-center">Trip To <%=trip.destination%> <%=link_to "delete", "students/#{@student.id}/trips/#{trip.id}", method: :delete, class: "links" if policy(trip).destroy?%></li>
                <%end%>
            </ul>
        </div>
    <%end%>
</section>
