<section class="buses-show center">

    <div class="container card">
        <h1 class="card-title">Bus <%=@bus.id%></h1>
        <div class="flex my1">
            <strong>Bus number:</strong>
            <%=@bus.id%>
        </div>

        <div class="flex my1">
            <strong>Capacity:</strong>
            <%=@bus.capacity%>
        </div>

        <div class="flex my1">
            <strong>Has a Trip:</strong>
            <%=@bus.trips.empty? ? "NO": "Yes"%>
        </div>

    </div>

</section>

 <div class="flex m1 center">
        <div class="container my1">
            <%= link_to "Make a Trip", new_bus_trip_path(@bus), class: "btn"%>
            <%= link_to "Take a Trip", "#{@bus.id}/add_trip", class: "btn"%>
            <%if !@bus.trips.empty?%>
                <%= link_to "Show Trips", bus_trips_path(@bus), class: "btn"%>
            <%end%>
        </div>

        
    </div>
