<section class="buses-show">

    <div class="container card">
        <h1 class="card-title">Bus <%=@bus.id%></h1>
        <div class="flex my1">
            <strong>Bus number:</strong>
            <%=@bus.id%>
        </div>

        <div class="flex my1">
            <strong>Capacity:</strong>
            <%=@bus.capacity%>
        </div>

        <div class="flex my1">
            <strong>Has a Trip:</strong>
            <%=@bus.trips.empty? ? "NO": "Yes"%>
        </div>

    </div>

    <div class="flex">
        <div class="container my1">
            <%= link_to "Take a Trip", new_bus_trip_path(@bus), class: "btn"%>
        </div>

        <%if !@bus.trips.empty?%>
            <div class="container my1 mr-auto ml0">
                <%= link_to "Show Trips", bus_trips_path(@bus), class: "btn"%>
            </div>
        <%end%>
    </div>

    
</section>
