<section class="buses-show center">

    <div class="container card">
        <h1 class="card-title">Bus <%=@bus.id%></h1>
        <div class="flex my1">
            <strong>Bus number:</strong>
            <%=@bus.id%>
        </div>

        <div class="flex my1">
            <strong>Capacity:</strong>
            <%=@bus.capacity%>
        </div>

        <div class="flex my1">
            <strong>Has a Trip:</strong>
            <%=@bus.trips.empty? ? "NO": "Yes"%>
        </div>

    </div>

    <section class="trips flex center">
    <div class="container card">
        <h1 class="my1 card-title">Trips</h1>
        <%@trips = @bus.trips%>
        <ul>
            <%@trips.each do |trip|%>
                <li class="flex"><strong>A trip to <%=link_to trip.destination, bus_trip_path(@bus, trip), class: 'links'%> </strong>   <%=link_to "edit", edit_bus_trip_path(@bus, trip), class: "links"%>  <%=link_to "delete", bus_trip_path(@bus, trip),  method: :delete, data: {confirm: "Are you Sure"}, class: "links"%> </li>
            <%end%>
        </ul>

    </div>
    </section>


</section>

 <div class="d-flex justify-content-center">
        <div class="container d-flex justify-content-center my1">
            <%= link_to "Make a Trip", new_bus_trip_path(@bus), class: "btn mx-2"%>
            <%= link_to "Take a Trip", "#{@bus.id}/add_trip", class: "btn mx-2"%>
            <%if !@bus.trips.empty?%>
                <%# <input type="button" id="showTrip", class="btn mx-2" value="Show Trips">  %>
                <%= link_to "Show Trip", @bus, class: "btn mx-2", id: "showTrip", remote: true%>
            <%end%>
        </div>
</div>
