<!DOCTYPE html>
<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>BusTicket</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body class="body">
    <header>
        <nav class="navbar bg-primary d-flex ">
          <div class="container">

            <h1 class="text-light">Harvard</h1>
            <%if current_user%>
            <ul class="d-flex">
                <li><%=link_to "Home", root_path, class: "mx-2 text-light "%></li>
                <li><%= link_to "Trips", "/trips", class: "mx-2 text-light "%></li>
                
                <%if current_user.type == "Admin"%>
                    <li><%=link_to "Buses", buses_path, class: "mx-2 text-light "%></li>
                    <li> <%=link_to "Students", students_path, class: "mx-2 text-light "%></li>
                <%end%>


                <%if current_user%>
                  <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "mx-2 text-light "%></li>
                <%else%>
                  <li><%= link_to "Sign In", new_user_session_path, class: "mx-2 text-light "%></li>
                  <li><%= link_to "Sign Up", new_user_registration_path, class: "mx-2 text-light "%></li>
                <%end%>
            </ul>
           
            <%end%>
          </div>
        </nav>
    </header>

    <%flash.each do |type, msg|%>
      <div class="text-center alert alert-danger">
          <%=msg%>
      </div>   
    <%end%> 
    <%= yield %>

    <div class="gap"></div>

   <footer class="text-light bg-primary fixed-bottom">
    <div class="container justify-content-between d-flex pt-2">
        <div class="row">
          <div class="col-4">
            <h2>About</h2>
            <p>
              Welcome to Harvard university trip managment system. It's a very well developed system which offers alot of features and facility. It allows you to easily book a trip by going to the trips page and choose the trips you want to go to. the trips prices are also pretty cheap hope you enjoy using our site.
            </p>
          </div>

          <div class="col-4">
            <div class="container h-100 d-flex flex-column align-items-center">
              <div class="row">
                  <h2>User Types</h2>
              </div>
              <div class="row mt-3">
                <ul>
                  <li>Admins</li> 
                  <li>Students</li>
                </ul>
              </div>
            </div>
              
          </div>

        <div class="col-4">
            <div  class="container h-100 d-flex flex-column align-items-center">
                <div class="row">
                    <h2>Quick links</h2>
                </div>

                <div class="row mt-3">
                    <ul>
                      <li class="my-1"><a><%=link_to "Home", root_path, class: "text-light"%></a></li>
                      <li class="my-1"><a><%= link_to "Trips", "/trips", class: "text-light"%></a></li>
                      <%if current_user%>
                        <li class="my-1"><a><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "text-light"%></a></li>
                      <%else%>
                        <li class="my-1"><a><%= link_to "Sign In", new_user_session_path, class: "text-light"%></a></li>
                        <li class="my-1"><a><%= link_to "Sign Up", new_user_registration_path, class: "text-light"%></a></li>
                      <%end%>
                    </ul>

                </div>
            </div>
        </div>
      </div>
    </div>
      
   </footer>
  </body>
</html>
