<!DOCTYPE html>
<html>
  <head>
    <title>BusTicket</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="body">
    <header>
        <nav class="navbar">
          <div class="container flex">
            <h1 class="logo">Harvard</h1>
            <ul>
                <li class="nav-item"><a><%=link_to "Home", "#"%></a></li>
                <li class="nav-item"><a>Buses</a></li>
                <li class="nav-item"><%= link_to "Students", students_path%></a></li>
                <li class="nav-item"><a><%= link_to "Trips", trips_path%></a></li>
            </ul>
          </div>
        </nav>
    </header>
    <%= yield %>
  </body>
</html>
